USE [master]
GO
/****** Object:  Database [NguyenSinhBinhMinhStudent]    Script Date: 2026-09-26 9:09:40 AM ******/
CREATE DATABASE [NguyenSinhBinhMinhStudent]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NguyenSinhBinhMinhStudent', FILENAME = N'C:\Users\HP Zbook\NguyenSinhBinhMinhStudent.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NguyenSinhBinhMinhStudent_log', FILENAME = N'C:\Users\HP Zbook\NguyenSinhBinhMinhStudent_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NguyenSinhBinhMinhStudent].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NguyenSinhBinhMinhStudent]
GO
/****** Object:  Table [dbo].[NguyenSinhBinhMinhStudent]    Script Date: 2026-09-26 9:09:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguyenSinhBinhMinhStudent](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[NguyenSinhBinhMinhName] [nchar](50) NULL,
	[NguyenSinhBinhMinhGender] [nchar](50) NULL,
	[NguyenSinhBinhMinhBirthday] [datetime] NULL,
	[NguyenSinhBinhMinhEmail] [nchar](30) NULL,
	[NguyenSinhBinhMinhPhone] [char](12) NULL,
	[NguyenSinhBinhMinhActive] [bit] NULL,
 CONSTRAINT [PK_NguyenSinhBinhMinhStudent] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
